:root {
    --baseColor: black;
}
* {
    box-sizing: border-box;
    width: auto;
    height: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: auto;
}

.container{
    display: flex;
    height: 960px;
    width: 960px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    
}

.box {
    width: 6.25%;
    height: 6.25%;
    /*border: 1px solid red;*/
}

.open {
    background-color: var(--baseColor);
}
